<h1>Enter new contact: </h1>
<form action="/contact/new_contact" method="post">
  <p><input type="text" placeholder="First name" name="first" autofocus
    maxlength="20"></p>

  <p><input type="text" placeholder="Last name" name="last"
    maxlength="20"></p>

  <p><input type="text" placeholder="Age" name="age"
  maxlength="3"></p>

  <p><input type="text" placeholder="Gender" name="gender"
  maxlength="1"></p>

  <p><input type="text" placeholder="Down to get down?" name="dtgd"
    maxlength ="5"></p>

  <p><input type="text" placeholder="Phone #" name="phone"
  maxlength="15"></p>

  <button>Add Contact</button>
</form>

